.container {
  margin-top: 160px;

}
@media (max-width: 576px) {
  .container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    padding: 0;
    max-height: 400px;

  }
}


.fw-light-bold {
  font-weight: 600;
}
.clickable-row {
  cursor: pointer;

}
.context-menu {
  position: absolute;
  border: 1px solid #dde1e5;
  max-width: 100%;
  max-height: 100%;
  background-color: #fdfdfd;
  padding: 0;
}

span {
 padding: 30px;
}
.delete-button {
  width: 100px;
  height: 35px;
  border-bottom: 1px solid #dde1e5;
}
.detail-button {
  width: 100px;
  height: 35px;

}

.delete-button:hover {
  background-color: #f4f5f5;
}
.detail-button:hover {
  background-color: #f4f5f5;
}
@media (max-width: 576px) {
  .table-responsive {
    margin: auto;
    max-width: 360px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .fw-light-bold {
    font-weight: 300;
    font-size: 12px;
  }
  td {
    font-size: 0.4em;
  }
}



