.container {
  margin-top: 160px;

}
@media (max-width: 576px) {
  .container {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    padding: 0;
    max-height: 400px;

  }
}
.fw-light-bold {
  font-weight: 600;
}
.clickable-row {
  cursor: pointer;
}
.clickable-row:hover {
  background-color: var(--background-color);
}


@media (max-width: 576px) {
  .table-responsive {
    margin: auto;
    max-width: 360px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .fw-light-bold {
    font-weight: 300;
    font-size: 12px;
  }
  td {
    font-size: 0.4em;
  }
}



