<div class="container">
  <h3 class="fw-normal">Users List</h3>
  <table class="table table-bordered table-responsive">
    <thead>
    <tr>
      <th class="fw-light-bold">ID</th>
      <th class="fw-light-bold">Name</th>
      <th class="fw-light-bold">Username</th>
      <th class="fw-light-bold">Email</th>
      <th class="fw-light-bold">Website</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users" (click)="onRowClick(user.id, $event)" class="clickable-row"

    >
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.website }}</td>
    </tr>
    </tbody>
  </table>
  <app-context-menu
    [hidden]="!showContextMenu"
    (itemClicked)="onMenuItemClicked($event)"
    [contextMenuX]="contextMenuX"
    [contextMenuY]="contextMenuY">
  </app-context-menu>
</div>

