.context-menu {
  position: absolute;
  border: 1px solid var(--primary-color);
  max-width: 100%;
  max-height: 100%;
  background-color: var(--light-color);
  padding: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}
.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  min-height: 35px;
  border-bottom: 1px solid var(--primary-color);
}
@media (max-width: 576px) {
  .delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    min-height: 25px;
    border-bottom: 1px solid var(--primary-color);
  }
}
.detail-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  min-height: 35px;

}
@media (max-width: 576px) {
  .detail-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    min-height: 25px;
  }

}

.delete-button:hover {
  background-color: var( --background-color);
}
.detail-button:hover {
  background-color: var( --background-color);
}
