.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

.form {
  width: 500px;
  border: 1px solid #eceaea;
  padding: 0;
  margin-top: 20px;

}
.error-message {
  margin: auto;
  max-width: 800px;

}
.inputs {
  padding: 20px;
}
.header {
  padding: 20px;
  background-color: #fdfdfd;
  border-bottom: 1px solid #eceaea;
}


input{
  margin: 15px 0;
}

