
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 420px) {
  .container {
    max-height: 580px;
  }
}
.wrapper {
  position: relative;
  width: 360px;
  height: 650px;
  margin-top: 100px;
}
@media (max-width: 420px){
  .wrapper {
    max-width: 340px;
  }

}
.image{
  width: 360px;
  height: 600px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom: 50px solid #353a40;
}
@media (max-width: 420px) {
  .image {
    max-width: 340px;
  }
}
.id-info {
  position: absolute;
  right: 94%;
  bottom: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--secondary-color);
}
span {
  color: var(--light-color);
  font-size: 18px;
}
.username-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--main-color);
  border:  var(--light-color) solid 1px;
  top: 15%;
  left: 22%;
  span {
    font-size: 70px;
  }
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 240px;
  bottom: 37%;
  left: 15%
}
h2 {
  color: var(--light-color);
  font-size: 21px;

}
p {
  font-size: 16px;
  color: var(--light-color);

}
.icons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  bottom: 10%;
  left: 32%;

}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: var(--dark-color);

}
